<section class="content">
<div class="overlay-screen" style='display:block;'>
            <div class="login-box">
                <div class="login-logo">
                    <a href="#"><b>Smart<span style="color: orange">TBM</span></b></a>
            </div>
            <!-- /.login-logo -->            
            <div class="login-box-body">
                <p class="login-box-msg"><b>Sign In</b></p>
                    <form method="post" id="login-form">
                        <div id="usernameSection" class="form-group has-feedback">
                        <input id="username" type="text" class="form-control" value="" placeholder="Username"> 
                        <span class="glyphicon form-control-feedback"></span>
                        </div>
                        <div id="passwordSection" class="form-group has-feedback">
                            <input id="password" type="password" class="form-control" value="" placeholder="Password"> 
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4" style="float: right;">
                                <a href="/" class="btn btn-primary btn-block btn-flat">Sign In</a>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
        </div>
        </section>