<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Reports
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/machine-list"><i class="fa fa-dashboard"></i> Machine List</a></li> 
        <li class="active">Machine Reports</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" id="render_me">

    <!-- Default box -->
    <div class="cbox">
        <div class="noExl box-header with-border" style="margin: 5px 0px 10px; text-align: center;">
            <h3 class="box-title" style="color: orange;font-weight: bold; text-transform: capitalize;">{{machine.machine_name + "'s" + " " + "Machine History"}} </h3>
           <!--  <div class="box-header with-border" style="margin: 5px 0px 10px;">
            <h3 class="box-title" style="color: orange;font-weight: bold;">Machine({{id}})</h3>
            </div> -->
        </div>
        <div class=" noExl col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-gray">
                    <h3 class="box-title">Machine Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="departments">Department:</label>
                                <span >
                                    {{machine.department}} 
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group text-right alignLeft">
                                <label for="machineName">Machine Name:</label>
                                <span >
                                   {{machine.machine_name}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="buttonPressCount">Button Press Count:</label>
                                <span >
                                   {{machine.current_count}}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group text-right alignLeft">
                                <label for="status">Status:</label>
                                <span >
                                    {{machine.status}} 
                                </span>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div> 
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-gray">
                    <h3 class="box-title">Machine Parts</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                <table class="table table-bordered" id="machineDlts">
                <thead>
                    <tr style="background-color: #ccc;">
                        <th class="text-center" >Sr. No.</th>
                        <th class="text-center" >Spare Part Name</th>
                        <th class="text-center" >Defined Life</th>
                        <th class="text-center" >Final Life</th>
                        <th class="text-center" >Life Exhausted Till Date</th>
                        <!-- <th class="text-center">Status</th> -->
                        <!-- <th class="text-center">Button press count</th> -->
                        <!-- <th class="text-center">Status info</th> -->
                        <th class="text-center">Remaining Life</th>
                        <th class="text-center">Replace Count</th>
                        <th class="noExl text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in machine.parts" ng-init="remaining = (((m.final_life-m.life_exhausted_till_date)/m.final_life)*100).toFixed(2);">
                        <td class="text-center">{{$index +1}}</td>
                        <td class="text-center">{{m.spare_part_name}}</td>
                        <td class="text-center" >{{m.life}}</td>
                        <td class="text-center" >{{m.final_life}}</td>
                        <!-- <td class="text-center">{{m.life_exhausted_till_date}}</td> -->
                        <!-- <td class="text-center" ng-show="m.life_exhausted_till_date < m.life" ng-class="m.life_exhausted_till_date >= m.alert ? 'orange' : 'green'">{{m.life_exhausted_till_date}}</td> -->
                        <td class="text-center " ng-class="changeColor(m.life_exhausted_till_date,m.alert_at_count,m.multiplying_factor,m.final_life)">{{m.life_exhausted_till_date}}</td>
                        <!-- <td class="text-center" >{{machine.status}}</td>
                        <td class="text-center" >{{machine.current_count}}</td> -->
                        <!-- <td class="text-center" >{{machine.alert_details}}</td> -->
                        <td class="text-center" >{{remaining}}%</td>
                        <td class="text-center">{{m.part_replace_count}}</td>
                        <td class="noExl text-center"><a href="/part/history?id={{m.id}}&len={{machine.parts.length}}&count={{count = $index +1}}" id="open_{{m.id}}" data-toggle='tooltip' title='Open Report' class='btn btn-dropbox btn-sm' >&nbsp;Open&nbsp;</a>  </td>
                      <!--   {{(machine.parts.length)}}
                        {{count = $index +1}} -->
                    </tr>  
                </tbody>
                </table>
                </div>    
            </div>
            <!-- /.box -->
        </div> 
        
        
       <!--  <div class="box-footer text-right">
            {{machine |json}}
            <a href="/machine-report" class="btn btn-success">Back</a>
        </div> -->
         <div class="box-footer text-center">                
                <a href="/machine-list" class="btn btn-success">Back</a>
                <a style="cursor:pointer" class="btn btn-success text-center" ng-click="downloadPdf($event)" >Save Pdf</a>
                <a style="cursor:pointer" class="btn btn-success text-center" ng-click="saveExcel($event)" >Save Excel</a>
            </div>
        <!--</div>-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

<script>

            $("[data-toggle=tab]").click(function (e) {
                e.preventDefault();
            })
</script>
